In [ ]:
# Check Java version (Colab includes OpenJDK 11)
!java -version

# Install PySpark (already installed but safe to rerun)
!pip install pyspark --quiet

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-17-openjdk-amd64" # Changed to Java 17 path

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName("ColabPySpark") \
    .getOrCreate()

spark

openjdk version "17.0.16" 2025-07-15
OpenJDK Runtime Environment (build 17.0.16+8-Ubuntu-0ubuntu122.04.1)
OpenJDK 64-Bit Server VM (build 17.0.16+8-Ubuntu-0ubuntu122.04.1, mixed mode, sharing)

In [ ]:
# loading in csv file
Housing = spark.read.csv("/content/Housing prices.csv", header=True, inferSchema=True)
urban_area = spark.read.csv("/content/Urban_Areas_National_Statistical_Boundaries_2022_Ungeneralised_View_-4618039361375901136.csv", header=True, inferSchema=True)
town_names = spark.read.csv("/content/Centres_of_Population___OSi_National_Placenames_Gazetteer_-4856559463974628035.csv", header=True,inferSchema=True)

In [ ]:
from pyspark.sql import functions as F

# Convert df1['English_Na'] # Irish Name to a Python list and lowercase
town_list = [t.lower() for t in town_names.select("English_Na", "Irish_Name").rdd.flatMap(lambda x: x).collect()]


towns_b = spark.sparkContext.broadcast(set(town_list))

In [ ]:
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf, col

def extract_town(address):
    if not address:
        return None
    parts = [p.strip().lower() for p in address.split(",")]
    # Check each part against town list (start from end for better accuracy)
    for p in parts[::-1]:
        if p in towns_b.value:
            return p.title()
    return None

extract_town_udf = udf(extract_town, StringType())

In [ ]:
Housing = Housing.withColumn("town", extract_town_udf(col("address")))
Housing.select("address", "town").show(20, False)

+----------------------------------------------+-----------+
|address                                       |town       |
+----------------------------------------------+-----------+
|5 Braemor Drive, Churchtown, Co.Dublin        |Churchtown |
|134 Ashewood Walk, Summerhill Lane, Portlaoise|Portlaoise |
|1 Meadow Avenue, Dundrum, Dublin 14           |Dundrum    |
|1 The Haven, Mornington                       |NULL       |
|11 Melville Heights, Kilkenny                 |Kilkenny   |
|12 Sallymount Avenue, Ranelagh                |Ranelagh   |
|13  Oakleigh Wood, Dooradoyle, Limerick       |Limerick   |
|13 The Drive, Chapelstown Gate, Tullow Road   |NULL       |
|15 Carriglawn, Waterpark, Carrigaline         |Carrigaline|
|15a Moore Bay, Kilkee                         |Kilkee     |
|16 Aisling Geal, Fr. Russell Road             |NULL       |
|206 Philipsburgh Avenue, Marino, Dublin 3     |Marino     |
|22 Laverna Way, Castleknock, Dublin 15        |Castleknock|
|23 Elton Park, Sandycove                      |NULL       |
|25  Lavallin Drive, Whitechurch, Cork         |Cork       |
|25 Fairway Lawns, Bettystown                  |Bettystown |
|29 Carysfort Woods, Blackrock                 |Blackrock  |
|33 RAGIAN ROAD, BALLSBRIDGE, DUBLIN 4         |Ballsbridge|
|4 Hawthorn Court, Collooney                   |Collooney  |
|44 Allen Park Road, Stillorgan, County Dublin |Stillorgan |
+----------------------------------------------+-----------+
only showing top 20 rows

In [ ]:
# columns i want to keep:
keep_cols = [
    'Date of Sale (dd/mm/yyyy)',
    'Address',
    'County',
    'Not Full Market Price',
    'VAT Exclusive',
    'Description of Property',
    'Property Size Description',
    'Price_2',
    'town'
]

housing_clean = Housing.select(*keep_cols)
housing_clean.show()

+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+---------+-----------+
|Date of Sale (dd/mm/yyyy)|             Address|  County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description|  Price_2|       town|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+---------+-----------+
|               01/01/2010|5 Braemor Drive, ...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 343000.0| Churchtown|
|               03/01/2010|134 Ashewood Walk...|   Laois|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 185000.0| Portlaoise|
|               04/01/2010|1 Meadow Avenue, ...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 438500.0|    Dundrum|
|               04/01/2010|1 The Haven, Morn...|   Meath|                   No|           No|   Second-Hand Dwell...|                     NULL| 400000.0|       NULL|
|               04/01/2010|11 Melville Heigh...|Kilkenny|                   No|           No|   Second-Hand Dwell...|                     NULL| 160000.0|   Kilkenny|
|               04/01/2010|12 Sallymount Ave...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 425000.0|   Ranelagh|
|               04/01/2010|13  Oakleigh Wood...|Limerick|                   No|           No|   Second-Hand Dwell...|                     NULL| 172500.0|   Limerick|
|               04/01/2010|13 The Drive, Cha...|  Carlow|                   No|           No|   Second-Hand Dwell...|                     NULL| 177500.0|       NULL|
|               04/01/2010|15 Carriglawn, Wa...|    Cork|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|Carrigaline|
|               04/01/2010|15a Moore Bay, Ki...|   Clare|                   No|           No|   Second-Hand Dwell...|                     NULL| 126500.0|     Kilkee|
|               04/01/2010|16 Aisling Geal, ...|Limerick|                   No|           No|   New Dwelling hous...|     greater than or e...| 110000.0|       NULL|
|               04/01/2010|206 Philipsburgh ...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 430000.0|     Marino|
|               04/01/2010|22 Laverna Way, C...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 355000.0|Castleknock|
|               04/01/2010|23 Elton Park, Sa...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|1800000.0|       NULL|
|               04/01/2010|25  Lavallin Driv...|    Cork|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...| 352000.0|       Cork|
|               04/01/2010|25 Fairway Lawns,...|   Meath|                   No|           No|   Second-Hand Dwell...|                     NULL| 273000.0| Bettystown|
|               04/01/2010|29 Carysfort Wood...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 547500.0|  Blackrock|
|               04/01/2010|33 RAGIAN ROAD, B...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 700000.0|Ballsbridge|
|               04/01/2010|4 Hawthorn Court,...|   Sligo|                   No|           No|   Second-Hand Dwell...|                     NULL| 220000.0|  Collooney|
|               04/01/2010|44 Allen Park Roa...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 350000.0| Stillorgan|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+---------+-----------+
only showing top 20 rows

In [ ]:
#remove columns where price is null:
housing_clean = housing_clean.na.drop(subset=["Price_2"])
print(housing_clean.count())
housing_clean.show()

756586
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+---------+-----------+
|Date of Sale (dd/mm/yyyy)|             Address|  County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description|  Price_2|       town|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+---------+-----------+
|               01/01/2010|5 Braemor Drive, ...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 343000.0| Churchtown|
|               03/01/2010|134 Ashewood Walk...|   Laois|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 185000.0| Portlaoise|
|               04/01/2010|1 Meadow Avenue, ...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 438500.0|    Dundrum|
|               04/01/2010|1 The Haven, Morn...|   Meath|                   No|           No|   Second-Hand Dwell...|                     NULL| 400000.0|       NULL|
|               04/01/2010|11 Melville Heigh...|Kilkenny|                   No|           No|   Second-Hand Dwell...|                     NULL| 160000.0|   Kilkenny|
|               04/01/2010|12 Sallymount Ave...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 425000.0|   Ranelagh|
|               04/01/2010|13  Oakleigh Wood...|Limerick|                   No|           No|   Second-Hand Dwell...|                     NULL| 172500.0|   Limerick|
|               04/01/2010|13 The Drive, Cha...|  Carlow|                   No|           No|   Second-Hand Dwell...|                     NULL| 177500.0|       NULL|
|               04/01/2010|15 Carriglawn, Wa...|    Cork|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|Carrigaline|
|               04/01/2010|15a Moore Bay, Ki...|   Clare|                   No|           No|   Second-Hand Dwell...|                     NULL| 126500.0|     Kilkee|
|               04/01/2010|16 Aisling Geal, ...|Limerick|                   No|           No|   New Dwelling hous...|     greater than or e...| 110000.0|       NULL|
|               04/01/2010|206 Philipsburgh ...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 430000.0|     Marino|
|               04/01/2010|22 Laverna Way, C...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 355000.0|Castleknock|
|               04/01/2010|23 Elton Park, Sa...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|1800000.0|       NULL|
|               04/01/2010|25  Lavallin Driv...|    Cork|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...| 352000.0|       Cork|
|               04/01/2010|25 Fairway Lawns,...|   Meath|                   No|           No|   Second-Hand Dwell...|                     NULL| 273000.0| Bettystown|
|               04/01/2010|29 Carysfort Wood...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 547500.0|  Blackrock|
|               04/01/2010|33 RAGIAN ROAD, B...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 700000.0|Ballsbridge|
|               04/01/2010|4 Hawthorn Court,...|   Sligo|                   No|           No|   Second-Hand Dwell...|                     NULL| 220000.0|  Collooney|
|               04/01/2010|44 Allen Park Roa...|  Dublin|                   No|           No|   Second-Hand Dwell...|                     NULL| 350000.0| Stillorgan|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+---------+-----------+
only showing top 20 rows

In [ ]:
# removing duplicates and rows where town is null
housing_clean.dropDuplicates()
housing_clean = housing_clean.filter(housing_clean["town"].isNotNull())
housing_clean.count()

583519

In [ ]:
housing_clean.filter(housing_clean["town"] == "Dingle").show() # check

+-------------------------+--------------------+------+---------------------+-------------+-----------------------+-------------------------+---------+------+
|Date of Sale (dd/mm/yyyy)|             Address|County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description|  Price_2|  town|
+-------------------------+--------------------+------+---------------------+-------------+-----------------------+-------------------------+---------+------+
|               22/01/2010|4 Killelane, Ding...| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 255000.0|Dingle|
|               27/01/2010|   Coum Gath, Dingle| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 210000.0|Dingle|
|               11/02/2010|   Gortanora, Dingle| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|273127.75|Dingle|
|               02/03/2010|  Doonsheane, Dingle| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|  25000.0|Dingle|
|               22/04/2010|2 An Maimin, Ball...| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 315000.0|Dingle|
|               26/05/2010|   Cullenagh, Dingle| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|  50000.0|Dingle|
|               02/07/2010|Ballintaggart, Di...| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 205000.0|Dingle|
|               02/07/2010|  Cluaismore, Dingle| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|Dingle|
|               27/07/2010|Ballinaboula, Dingle| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 125000.0|Dingle|
|               30/07/2010|32 Cnoc an Carin,...| Kerry|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...| 235000.0|Dingle|
|               23/08/2010| Ballybowler, Dingle| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|Dingle|
|               01/09/2010|54 Cois Chnoic, M...| Kerry|                  Yes|          Yes|   New Dwelling hous...|     greater than 125 ...| 190000.0|Dingle|
|               15/11/2010|Ballinavounigh, D...| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 205000.0|Dingle|
|               23/11/2010|4 An Doirin, Gree...| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 162500.0|Dingle|
|               30/11/2010|8 Blasket House, ...| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|  60000.0|Dingle|
|               02/12/2010|  Glin North, Dingle| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 240000.0|Dingle|
|               09/12/2010|14 Ard Na Mara, D...| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 245000.0|Dingle|
|               10/12/2010|   Rahinnane, Dingle| Kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 250000.0|Dingle|
|               11/01/2011|3 Radharc Na Mara...| Kerry|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 300000.0|Dingle|
|               14/01/2011|23 Cois Chnoic, M...| Kerry|                   No|          Yes|   New Dwelling hous...|     greater than or e...|264317.18|Dingle|
+-------------------------+--------------------+------+---------------------+-------------+-----------------------+-------------------------+---------+------+
only showing top 20 rows

### lower case town names

In [ ]:
town_names = town_names.select(
    "Irish_Name",
    "English_Na",
    "County",
    "Contae"
)

In [ ]:
# lower case town name and county column
from pyspark.sql.functions import lower, col

house_cleaning = housing_clean.withColumn("town", lower(col("town"))) \
       .withColumn("County", lower(col("County")))

In [ ]:
house_cleaning.show()

+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+
|Date of Sale (dd/mm/yyyy)|             Address|  County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description| Price_2|       town|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+
|               01/01/2010|5 Braemor Drive, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|343000.0| churchtown|
|               03/01/2010|134 Ashewood Walk...|   laois|                   No|          Yes|   New Dwelling hous...|     greater than or e...|185000.0| portlaoise|
|               04/01/2010|1 Meadow Avenue, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|438500.0|    dundrum|
|               04/01/2010|11 Melville Heigh...|kilkenny|                   No|           No|   Second-Hand Dwell...|                     NULL|160000.0|   kilkenny|
|               04/01/2010|12 Sallymount Ave...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|425000.0|   ranelagh|
|               04/01/2010|13  Oakleigh Wood...|limerick|                   No|           No|   Second-Hand Dwell...|                     NULL|172500.0|   limerick|
|               04/01/2010|15 Carriglawn, Wa...|    cork|                   No|           No|   Second-Hand Dwell...|                     NULL|180000.0|carrigaline|
|               04/01/2010|15a Moore Bay, Ki...|   clare|                   No|           No|   Second-Hand Dwell...|                     NULL|126500.0|     kilkee|
|               04/01/2010|206 Philipsburgh ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|430000.0|     marino|
|               04/01/2010|22 Laverna Way, C...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|355000.0|castleknock|
|               04/01/2010|25  Lavallin Driv...|    cork|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|352000.0|       cork|
|               04/01/2010|25 Fairway Lawns,...|   meath|                   No|           No|   Second-Hand Dwell...|                     NULL|273000.0| bettystown|
|               04/01/2010|29 Carysfort Wood...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|547500.0|  blackrock|
|               04/01/2010|33 RAGIAN ROAD, B...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|700000.0|ballsbridge|
|               04/01/2010|4 Hawthorn Court,...|   sligo|                   No|           No|   Second-Hand Dwell...|                     NULL|220000.0|  collooney|
|               04/01/2010|44 Allen Park Roa...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|350000.0| stillorgan|
|               04/01/2010|48 KILLIANS COURT...|   cavan|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|122000.0|    mullagh|
|               04/01/2010|49 ballynakelly g...|  dublin|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|499600.0|  newcastle|
|               04/01/2010|5 Clancy Road, Fi...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|205000.0|    finglas|
|               04/01/2010|54., brides glen ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|337500.0|     swords|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+
only showing top 20 rows

In [ ]:
town_names.show()
town_names.filter(town_names["English_Na"] == "Dingle").show()

+--------------------+--------------+------+-----------+
|          Irish_Name|    English_Na|County|     Contae|
+--------------------+--------------+------+-----------+
|          Fionnmhach|       Fennagh|CARLOW|Ceatharlach|
|     An Gharbhchoill|     Garryhill|CARLOW|Ceatharlach|
|       Baile Haicéid|   Hacketstown|CARLOW|Ceatharlach|
|         Cill Bhríde|      Kilbride|CARLOW|Ceatharlach|
|        Cill Dheirge|     Killerrig|CARLOW|Ceatharlach|
|Leithghlinn an Dr...|Leighlinbridge|CARLOW|Ceatharlach|
|              Balana|        Ballon|CARLOW|Ceatharlach|
|     Seanleithghlinn|   Oldleighlin|CARLOW|Ceatharlach|
|         Muine Bheag|  Bagenalstown|CARLOW|Ceatharlach|
|              Míseal|       Myshall|CARLOW|Ceatharlach|
|            An Urnaí|        Nurney|CARLOW|Ceatharlach|
|          Ráth Bhile|     Rathvilly|CARLOW|Ceatharlach|
|                    |       Tiknock|CARLOW|Ceatharlach|
|           An Tulach|        Tullow|CARLOW|Ceatharlach|
|          Ard Aitinn|      Ardattin|CARLOW|Ceatharlach|
|             Ráth Tó|       Rathtoe|CARLOW|Ceatharlach|
|        Cill Damháin|      Kildavin|CARLOW|Ceatharlach|
|         Tigh Moling|Saint Mullin's|CARLOW|Ceatharlach|
|    Baile Uí Mhurchú|   Ballymurphy|CARLOW|Ceatharlach|
|              Biolbó|        Bilboa|CARLOW|Ceatharlach|
+--------------------+--------------+------+-----------+
only showing top 20 rows
+-----------+----------+------+-------+
| Irish_Name|English_Na|County| Contae|
+-----------+----------+------+-------+
|An Daingean|    Dingle| KERRY|Ciarraí|
+-----------+----------+------+-------+

In [ ]:
# lower case town name and county column
from pyspark.sql.functions import lower, col

housing_clean = (housing_clean.withColumn("town", lower(col("town"))) \
       .withColumn("County", lower(col("County"))))

town_names = (town_names.withColumn("Irish_Name", lower(col("Irish_Name"))) \
       .withColumn("County", lower(col("County"))) \
       .withColumn("English_Na", lower(col("English_Na"))))

from pyspark.sql.functions import lower, col

urban_area = (
    urban_area
        .withColumn("urban_area_name", lower(col("urban_area_name")))
        .withColumn("county", lower(col("county")))
)

In [ ]:
town_names.show()
house_cleaning.show()
urban_area.show()

+--------------------+--------------+------+-----------+
|          Irish_Name|    English_Na|County|     Contae|
+--------------------+--------------+------+-----------+
|          fionnmhach|       fennagh|carlow|Ceatharlach|
|     an gharbhchoill|     garryhill|carlow|Ceatharlach|
|       baile haicéid|   hacketstown|carlow|Ceatharlach|
|         cill bhríde|      kilbride|carlow|Ceatharlach|
|        cill dheirge|     killerrig|carlow|Ceatharlach|
|leithghlinn an dr...|leighlinbridge|carlow|Ceatharlach|
|              balana|        ballon|carlow|Ceatharlach|
|     seanleithghlinn|   oldleighlin|carlow|Ceatharlach|
|         muine bheag|  bagenalstown|carlow|Ceatharlach|
|              míseal|       myshall|carlow|Ceatharlach|
|            an urnaí|        nurney|carlow|Ceatharlach|
|          ráth bhile|     rathvilly|carlow|Ceatharlach|
|                    |       tiknock|carlow|Ceatharlach|
|           an tulach|        tullow|carlow|Ceatharlach|
|          ard aitinn|      ardattin|carlow|Ceatharlach|
|             ráth tó|       rathtoe|carlow|Ceatharlach|
|        cill damháin|      kildavin|carlow|Ceatharlach|
|         tigh moling|saint mullin's|carlow|Ceatharlach|
|    baile uí mhurchú|   ballymurphy|carlow|Ceatharlach|
|              biolbó|        bilboa|carlow|Ceatharlach|
+--------------------+--------------+------+-----------+
only showing top 20 rows
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+
|Date of Sale (dd/mm/yyyy)|             Address|  County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description| Price_2|       town|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+
|               01/01/2010|5 Braemor Drive, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|343000.0| churchtown|
|               03/01/2010|134 Ashewood Walk...|   laois|                   No|          Yes|   New Dwelling hous...|     greater than or e...|185000.0| portlaoise|
|               04/01/2010|1 Meadow Avenue, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|438500.0|    dundrum|
|               04/01/2010|11 Melville Heigh...|kilkenny|                   No|           No|   Second-Hand Dwell...|                     NULL|160000.0|   kilkenny|
|               04/01/2010|12 Sallymount Ave...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|425000.0|   ranelagh|
|               04/01/2010|13  Oakleigh Wood...|limerick|                   No|           No|   Second-Hand Dwell...|                     NULL|172500.0|   limerick|
|               04/01/2010|15 Carriglawn, Wa...|    cork|                   No|           No|   Second-Hand Dwell...|                     NULL|180000.0|carrigaline|
|               04/01/2010|15a Moore Bay, Ki...|   clare|                   No|           No|   Second-Hand Dwell...|                     NULL|126500.0|     kilkee|
|               04/01/2010|206 Philipsburgh ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|430000.0|     marino|
|               04/01/2010|22 Laverna Way, C...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|355000.0|castleknock|
|               04/01/2010|25  Lavallin Driv...|    cork|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|352000.0|       cork|
|               04/01/2010|25 Fairway Lawns,...|   meath|                   No|           No|   Second-Hand Dwell...|                     NULL|273000.0| bettystown|
|               04/01/2010|29 Carysfort Wood...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|547500.0|  blackrock|
|               04/01/2010|33 RAGIAN ROAD, B...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|700000.0|ballsbridge|
|               04/01/2010|4 Hawthorn Court,...|   sligo|                   No|           No|   Second-Hand Dwell...|                     NULL|220000.0|  collooney|
|               04/01/2010|44 Allen Park Roa...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|350000.0| stillorgan|
|               04/01/2010|48 KILLIANS COURT...|   cavan|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|122000.0|    mullagh|
|               04/01/2010|49 ballynakelly g...|  dublin|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|499600.0|  newcastle|
|               04/01/2010|5 Clancy Road, Fi...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|205000.0|    finglas|
|               04/01/2010|54., brides glen ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|337500.0|     swords|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+
only showing top 20 rows
+--------+--------------------+---------------+--------------------+---------+-------------+-------------+------------------+----------------+
|OBJECTID|     URBAN_AREA_GUID|URBAN_AREA_CODE|     urban_area_name|   county|   Centroid_x|   Centroid_y|       Shape__Area|   Shape__Length|
+--------+--------------------+---------------+--------------------+---------+-------------+-------------+------------------+----------------+
|       1|0138fb4f-2ab8-403...|          27295|              bearna|   galway|522593.204561|723181.979819|  3989630.23831177|18629.6809484117|
|       2|0139a442-0f36-46d...|          10019|               ardee|    louth|696152.155347|790695.313556|  4747904.28479004|10477.5822516943|
|       3|020a2786-0521-445...|          28125|         ballinamore|  leitrim| 613071.60711|811532.546151|  1205382.26107788|11491.7124087075|
|       4|0261d090-30b7-406...|          11408|             ratoath|    meath|701909.103785|751650.842556|  3067987.87744141|11723.4625093269|
|       5|0265ada6-7078-45d...|          16544|o'briensbridge-mo...|    clare|566174.956058|666640.253476|  556121.649749756| 7603.9918892899|
|       6|026936ae-3899-4ad...|          18775|          inishannon|     cork|554631.858491|557441.930004|  602250.983795166|10848.2938695375|
|       7|026f406e-4e23-42d...|          32058|          swanlinbar|    cavan|619422.367331|826996.868003|   383567.63482666| 4652.5678222868|
|       8|02adfd39-9919-4a0...|           7658|         castlecomer| kilkenny| 653107.96087| 672358.61622|  1097054.96380615|8434.48271624511|
|       9|03985ab2-1f44-46b...|           7666|         ballyragget| kilkenny|644927.437853|670925.116363|  747545.341552734|7729.14767314141|
|      10|03a8151e-41ac-466...|          33068|          bridge end|  donegal|639591.395681|921495.971463|  307704.430969238|4254.90175467995|
|      11|03e074bb-4e82-4d9...|          10004|        termonfeckin|    louth|714101.630828|780372.045072|   879422.38458252|9316.23090963665|
|      12|04070383-7373-421...|          13200|             athlone|westmeath|604311.828471|742043.182788|1.73022130804749E7|37714.2780123511|
|      13|04456694-103d-4b7...|          18769|       ballinspittle|     cork|558854.111316|545913.921939|  299071.854980469|8368.85120315797|
|      14|04579a70-c0c2-4a3...|           8166|                 emo|    laois|652546.156784|705236.211972|  319186.033813477|8397.78744214507|
|      15|04928248-19d5-423...|          18773|          crossbarry|     cork|555556.618322|561305.077409|  287372.367431641|5133.54120069429|
|      16|0598e968-5b4b-44b...|          18742|              fermoy|     cork|580811.241715|598586.702744|   3412116.3605957|17035.2859316282|
|      17|05a4a02c-0ae3-4d1...|           6436|           celbridge|  kildare|696859.071092|733151.800924|  5197523.50894165|17532.6512646408|
|      18|0617f0f8-8092-498...|           6463|            milltown|  kildare|676688.387599|717461.781911|  391170.980377197|10068.4348395946|
|      19|0654abe6-feb1-48d...|          28137|           tullaghan|  leitrim|578763.874089|858025.929169|  532039.189849854|5678.25057791285|
|      20|06d3a035-52f2-4f5...|          23711|              golden|tipperary|601225.111318|638754.077593|  312793.691558838|8076.89593144425|
+--------+--------------------+---------------+--------------------+---------+-------------+-------------+------------------+----------------+
only showing top 20 rows

In [ ]:
housing_clean = housing_clean.join(
    town_names.select("Irish_Name", "English_Na"),
    housing_clean["town"] == town_names["Irish_Name"],
    how="left"
)

In [ ]:
housing_clean.filter(housing_clean["town"] == "dingle").show()

+-------------------------+--------------------+------+---------------------+-------------+-----------------------+-------------------------+---------+------+----------+----------+
|Date of Sale (dd/mm/yyyy)|             Address|County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description|  Price_2|  town|Irish_Name|English_Na|
+-------------------------+--------------------+------+---------------------+-------------+-----------------------+-------------------------+---------+------+----------+----------+
|               22/01/2010|4 Killelane, Ding...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 255000.0|dingle|      NULL|      NULL|
|               27/01/2010|   Coum Gath, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 210000.0|dingle|      NULL|      NULL|
|               11/02/2010|   Gortanora, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|273127.75|dingle|      NULL|      NULL|
|               02/03/2010|  Doonsheane, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|  25000.0|dingle|      NULL|      NULL|
|               22/04/2010|2 An Maimin, Ball...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 315000.0|dingle|      NULL|      NULL|
|               26/05/2010|   Cullenagh, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|  50000.0|dingle|      NULL|      NULL|
|               02/07/2010|Ballintaggart, Di...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 205000.0|dingle|      NULL|      NULL|
|               02/07/2010|  Cluaismore, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|dingle|      NULL|      NULL|
|               27/07/2010|Ballinaboula, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 125000.0|dingle|      NULL|      NULL|
|               30/07/2010|32 Cnoc an Carin,...| kerry|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...| 235000.0|dingle|      NULL|      NULL|
|               23/08/2010| Ballybowler, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|dingle|      NULL|      NULL|
|               01/09/2010|54 Cois Chnoic, M...| kerry|                  Yes|          Yes|   New Dwelling hous...|     greater than 125 ...| 190000.0|dingle|      NULL|      NULL|
|               15/11/2010|Ballinavounigh, D...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 205000.0|dingle|      NULL|      NULL|
|               23/11/2010|4 An Doirin, Gree...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 162500.0|dingle|      NULL|      NULL|
|               30/11/2010|8 Blasket House, ...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|  60000.0|dingle|      NULL|      NULL|
|               02/12/2010|  Glin North, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 240000.0|dingle|      NULL|      NULL|
|               09/12/2010|14 Ard Na Mara, D...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 245000.0|dingle|      NULL|      NULL|
|               10/12/2010|   Rahinnane, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 250000.0|dingle|      NULL|      NULL|
|               11/01/2011|3 Radharc Na Mara...| kerry|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 300000.0|dingle|      NULL|      NULL|
|               14/01/2011|23 Cois Chnoic, M...| kerry|                   No|          Yes|   New Dwelling hous...|     greater than or e...|264317.18|dingle|      NULL|      NULL|
+-------------------------+--------------------+------+---------------------+-------------+-----------------------+-------------------------+---------+------+----------+----------+
only showing top 20 rows

In [ ]:
housing_clean.show()

+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+----------+----------+
|Date of Sale (dd/mm/yyyy)|             Address|  County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description| Price_2|       town|Irish_Name|English_Na|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+----------+----------+
|               01/01/2010|5 Braemor Drive, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|343000.0| churchtown|      NULL|      NULL|
|               03/01/2010|134 Ashewood Walk...|   laois|                   No|          Yes|   New Dwelling hous...|     greater than or e...|185000.0| portlaoise|      NULL|      NULL|
|               04/01/2010|1 Meadow Avenue, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|438500.0|    dundrum|      NULL|      NULL|
|               04/01/2010|11 Melville Heigh...|kilkenny|                   No|           No|   Second-Hand Dwell...|                     NULL|160000.0|   kilkenny|      NULL|      NULL|
|               04/01/2010|12 Sallymount Ave...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|425000.0|   ranelagh|      NULL|      NULL|
|               04/01/2010|13  Oakleigh Wood...|limerick|                   No|           No|   Second-Hand Dwell...|                     NULL|172500.0|   limerick|      NULL|      NULL|
|               04/01/2010|15 Carriglawn, Wa...|    cork|                   No|           No|   Second-Hand Dwell...|                     NULL|180000.0|carrigaline|      NULL|      NULL|
|               04/01/2010|15a Moore Bay, Ki...|   clare|                   No|           No|   Second-Hand Dwell...|                     NULL|126500.0|     kilkee|      NULL|      NULL|
|               04/01/2010|206 Philipsburgh ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|430000.0|     marino|    marino|    marino|
|               04/01/2010|22 Laverna Way, C...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|355000.0|castleknock|      NULL|      NULL|
|               04/01/2010|25  Lavallin Driv...|    cork|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|352000.0|       cork|      NULL|      NULL|
|               04/01/2010|25 Fairway Lawns,...|   meath|                   No|           No|   Second-Hand Dwell...|                     NULL|273000.0| bettystown|      NULL|      NULL|
|               04/01/2010|29 Carysfort Wood...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|547500.0|  blackrock|      NULL|      NULL|
|               04/01/2010|33 RAGIAN ROAD, B...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|700000.0|ballsbridge|      NULL|      NULL|
|               04/01/2010|4 Hawthorn Court,...|   sligo|                   No|           No|   Second-Hand Dwell...|                     NULL|220000.0|  collooney|      NULL|      NULL|
|               04/01/2010|44 Allen Park Roa...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|350000.0| stillorgan|      NULL|      NULL|
|               04/01/2010|48 KILLIANS COURT...|   cavan|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|122000.0|    mullagh|      NULL|      NULL|
|               04/01/2010|49 ballynakelly g...|  dublin|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|499600.0|  newcastle|      NULL|      NULL|
|               04/01/2010|5 Clancy Road, Fi...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|205000.0|    finglas|      NULL|      NULL|
|               04/01/2010|54., brides glen ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|337500.0|     swords|      NULL|      NULL|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+----------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import coalesce, col

housing_clean = housing_clean.withColumn(
    "English_Na",
    coalesce(col("English_Na"), col("town"))
)

In [ ]:
housing_clean.filter(housing_clean["town"] == "dingle").show()

+-------------------------+--------------------+------+---------------------+-------------+-----------------------+-------------------------+---------+------+----------+----------+
|Date of Sale (dd/mm/yyyy)|             Address|County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description|  Price_2|  town|Irish_Name|English_Na|
+-------------------------+--------------------+------+---------------------+-------------+-----------------------+-------------------------+---------+------+----------+----------+
|               22/01/2010|4 Killelane, Ding...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 255000.0|dingle|      NULL|    dingle|
|               27/01/2010|   Coum Gath, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 210000.0|dingle|      NULL|    dingle|
|               11/02/2010|   Gortanora, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|273127.75|dingle|      NULL|    dingle|
|               02/03/2010|  Doonsheane, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|  25000.0|dingle|      NULL|    dingle|
|               22/04/2010|2 An Maimin, Ball...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 315000.0|dingle|      NULL|    dingle|
|               26/05/2010|   Cullenagh, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|  50000.0|dingle|      NULL|    dingle|
|               02/07/2010|Ballintaggart, Di...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 205000.0|dingle|      NULL|    dingle|
|               02/07/2010|  Cluaismore, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|dingle|      NULL|    dingle|
|               27/07/2010|Ballinaboula, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 125000.0|dingle|      NULL|    dingle|
|               30/07/2010|32 Cnoc an Carin,...| kerry|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...| 235000.0|dingle|      NULL|    dingle|
|               23/08/2010| Ballybowler, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|dingle|      NULL|    dingle|
|               01/09/2010|54 Cois Chnoic, M...| kerry|                  Yes|          Yes|   New Dwelling hous...|     greater than 125 ...| 190000.0|dingle|      NULL|    dingle|
|               15/11/2010|Ballinavounigh, D...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 205000.0|dingle|      NULL|    dingle|
|               23/11/2010|4 An Doirin, Gree...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 162500.0|dingle|      NULL|    dingle|
|               30/11/2010|8 Blasket House, ...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL|  60000.0|dingle|      NULL|    dingle|
|               02/12/2010|  Glin North, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 240000.0|dingle|      NULL|    dingle|
|               09/12/2010|14 Ard Na Mara, D...| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 245000.0|dingle|      NULL|    dingle|
|               10/12/2010|   Rahinnane, Dingle| kerry|                   No|           No|   Second-Hand Dwell...|                     NULL| 250000.0|dingle|      NULL|    dingle|
|               11/01/2011|3 Radharc Na Mara...| kerry|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 300000.0|dingle|      NULL|    dingle|
|               14/01/2011|23 Cois Chnoic, M...| kerry|                   No|          Yes|   New Dwelling hous...|     greater than or e...|264317.18|dingle|      NULL|    dingle|
+-------------------------+--------------------+------+---------------------+-------------+-----------------------+-------------------------+---------+------+----------+----------+
only showing top 20 rows

In [ ]:
housing_clean.show()

+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+----------+-----------+
|Date of Sale (dd/mm/yyyy)|             Address|  County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description| Price_2|       town|Irish_Name| English_Na|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+----------+-----------+
|               01/01/2010|5 Braemor Drive, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|343000.0| churchtown|      NULL| churchtown|
|               03/01/2010|134 Ashewood Walk...|   laois|                   No|          Yes|   New Dwelling hous...|     greater than or e...|185000.0| portlaoise|      NULL| portlaoise|
|               04/01/2010|1 Meadow Avenue, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|438500.0|    dundrum|      NULL|    dundrum|
|               04/01/2010|11 Melville Heigh...|kilkenny|                   No|           No|   Second-Hand Dwell...|                     NULL|160000.0|   kilkenny|      NULL|   kilkenny|
|               04/01/2010|12 Sallymount Ave...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|425000.0|   ranelagh|      NULL|   ranelagh|
|               04/01/2010|13  Oakleigh Wood...|limerick|                   No|           No|   Second-Hand Dwell...|                     NULL|172500.0|   limerick|      NULL|   limerick|
|               04/01/2010|15 Carriglawn, Wa...|    cork|                   No|           No|   Second-Hand Dwell...|                     NULL|180000.0|carrigaline|      NULL|carrigaline|
|               04/01/2010|15a Moore Bay, Ki...|   clare|                   No|           No|   Second-Hand Dwell...|                     NULL|126500.0|     kilkee|      NULL|     kilkee|
|               04/01/2010|206 Philipsburgh ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|430000.0|     marino|    marino|     marino|
|               04/01/2010|22 Laverna Way, C...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|355000.0|castleknock|      NULL|castleknock|
|               04/01/2010|25  Lavallin Driv...|    cork|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|352000.0|       cork|      NULL|       cork|
|               04/01/2010|25 Fairway Lawns,...|   meath|                   No|           No|   Second-Hand Dwell...|                     NULL|273000.0| bettystown|      NULL| bettystown|
|               04/01/2010|29 Carysfort Wood...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|547500.0|  blackrock|      NULL|  blackrock|
|               04/01/2010|33 RAGIAN ROAD, B...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|700000.0|ballsbridge|      NULL|ballsbridge|
|               04/01/2010|4 Hawthorn Court,...|   sligo|                   No|           No|   Second-Hand Dwell...|                     NULL|220000.0|  collooney|      NULL|  collooney|
|               04/01/2010|44 Allen Park Roa...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|350000.0| stillorgan|      NULL| stillorgan|
|               04/01/2010|48 KILLIANS COURT...|   cavan|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|122000.0|    mullagh|      NULL|    mullagh|
|               04/01/2010|49 ballynakelly g...|  dublin|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|499600.0|  newcastle|      NULL|  newcastle|
|               04/01/2010|5 Clancy Road, Fi...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|205000.0|    finglas|      NULL|    finglas|
|               04/01/2010|54., brides glen ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|337500.0|     swords|      NULL|     swords|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+-----------+----------+-----------+
only showing top 20 rows

In [ ]:
housing_clean = housing_clean.drop("town")

In [ ]:
housing_clean = housing_clean.withColumnRenamed("English_Na", "town")

In [ ]:
housing_clean.filter((housing_clean["town"] == "dingle") & (housing_clean["County"] == "kildare")).show()

+-------------------------+----------------+-------+---------------------+-------------+-----------------------+-------------------------+---------+----------+------+
|Date of Sale (dd/mm/yyyy)|         Address| County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description|  Price_2|Irish_Name|  town|
+-------------------------+----------------+-------+---------------------+-------------+-----------------------+-------------------------+---------+----------+------+
|               08/11/2023|Spa Road, Dingle|kildare|                  Yes|          Yes|   New Dwelling hous...|                     NULL|3019315.0|      NULL|dingle|
+-------------------------+----------------+-------+---------------------+-------------+-----------------------+-------------------------+---------+----------+------+

In [ ]:
housing_clean.show()

+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+----------+-----------+
|Date of Sale (dd/mm/yyyy)|             Address|  County|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description| Price_2|Irish_Name|       town|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+----------+-----------+
|               01/01/2010|5 Braemor Drive, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|343000.0|      NULL| churchtown|
|               03/01/2010|134 Ashewood Walk...|   laois|                   No|          Yes|   New Dwelling hous...|     greater than or e...|185000.0|      NULL| portlaoise|
|               04/01/2010|1 Meadow Avenue, ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|438500.0|      NULL|    dundrum|
|               04/01/2010|11 Melville Heigh...|kilkenny|                   No|           No|   Second-Hand Dwell...|                     NULL|160000.0|      NULL|   kilkenny|
|               04/01/2010|12 Sallymount Ave...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|425000.0|      NULL|   ranelagh|
|               04/01/2010|13  Oakleigh Wood...|limerick|                   No|           No|   Second-Hand Dwell...|                     NULL|172500.0|      NULL|   limerick|
|               04/01/2010|15 Carriglawn, Wa...|    cork|                   No|           No|   Second-Hand Dwell...|                     NULL|180000.0|      NULL|carrigaline|
|               04/01/2010|15a Moore Bay, Ki...|   clare|                   No|           No|   Second-Hand Dwell...|                     NULL|126500.0|      NULL|     kilkee|
|               04/01/2010|206 Philipsburgh ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|430000.0|    marino|     marino|
|               04/01/2010|22 Laverna Way, C...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|355000.0|      NULL|castleknock|
|               04/01/2010|25  Lavallin Driv...|    cork|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|352000.0|      NULL|       cork|
|               04/01/2010|25 Fairway Lawns,...|   meath|                   No|           No|   Second-Hand Dwell...|                     NULL|273000.0|      NULL| bettystown|
|               04/01/2010|29 Carysfort Wood...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|547500.0|      NULL|  blackrock|
|               04/01/2010|33 RAGIAN ROAD, B...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|700000.0|      NULL|ballsbridge|
|               04/01/2010|4 Hawthorn Court,...|   sligo|                   No|           No|   Second-Hand Dwell...|                     NULL|220000.0|      NULL|  collooney|
|               04/01/2010|44 Allen Park Roa...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|350000.0|      NULL| stillorgan|
|               04/01/2010|48 KILLIANS COURT...|   cavan|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|122000.0|      NULL|    mullagh|
|               04/01/2010|49 ballynakelly g...|  dublin|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...|499600.0|      NULL|  newcastle|
|               04/01/2010|5 Clancy Road, Fi...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|205000.0|      NULL|    finglas|
|               04/01/2010|54., brides glen ...|  dublin|                   No|           No|   Second-Hand Dwell...|                     NULL|337500.0|      NULL|     swords|
+-------------------------+--------------------+--------+---------------------+-------------+-----------------------+-------------------------+--------+----------+-----------+
only showing top 20 rows

In [ ]:
urban_area.show()

+--------+--------------------+---------------+--------------------+---------+-------------+-------------+------------------+----------------+
|OBJECTID|     URBAN_AREA_GUID|URBAN_AREA_CODE|     urban_area_name|   county|   Centroid_x|   Centroid_y|       Shape__Area|   Shape__Length|
+--------+--------------------+---------------+--------------------+---------+-------------+-------------+------------------+----------------+
|       1|0138fb4f-2ab8-403...|          27295|              bearna|   galway|522593.204561|723181.979819|  3989630.23831177|18629.6809484117|
|       2|0139a442-0f36-46d...|          10019|               ardee|    louth|696152.155347|790695.313556|  4747904.28479004|10477.5822516943|
|       3|020a2786-0521-445...|          28125|         ballinamore|  leitrim| 613071.60711|811532.546151|  1205382.26107788|11491.7124087075|
|       4|0261d090-30b7-406...|          11408|             ratoath|    meath|701909.103785|751650.842556|  3067987.87744141|11723.4625093269|
|       5|0265ada6-7078-45d...|          16544|o'briensbridge-mo...|    clare|566174.956058|666640.253476|  556121.649749756| 7603.9918892899|
|       6|026936ae-3899-4ad...|          18775|          inishannon|     cork|554631.858491|557441.930004|  602250.983795166|10848.2938695375|
|       7|026f406e-4e23-42d...|          32058|          swanlinbar|    cavan|619422.367331|826996.868003|   383567.63482666| 4652.5678222868|
|       8|02adfd39-9919-4a0...|           7658|         castlecomer| kilkenny| 653107.96087| 672358.61622|  1097054.96380615|8434.48271624511|
|       9|03985ab2-1f44-46b...|           7666|         ballyragget| kilkenny|644927.437853|670925.116363|  747545.341552734|7729.14767314141|
|      10|03a8151e-41ac-466...|          33068|          bridge end|  donegal|639591.395681|921495.971463|  307704.430969238|4254.90175467995|
|      11|03e074bb-4e82-4d9...|          10004|        termonfeckin|    louth|714101.630828|780372.045072|   879422.38458252|9316.23090963665|
|      12|04070383-7373-421...|          13200|             athlone|westmeath|604311.828471|742043.182788|1.73022130804749E7|37714.2780123511|
|      13|04456694-103d-4b7...|          18769|       ballinspittle|     cork|558854.111316|545913.921939|  299071.854980469|8368.85120315797|
|      14|04579a70-c0c2-4a3...|           8166|                 emo|    laois|652546.156784|705236.211972|  319186.033813477|8397.78744214507|
|      15|04928248-19d5-423...|          18773|          crossbarry|     cork|555556.618322|561305.077409|  287372.367431641|5133.54120069429|
|      16|0598e968-5b4b-44b...|          18742|              fermoy|     cork|580811.241715|598586.702744|   3412116.3605957|17035.2859316282|
|      17|05a4a02c-0ae3-4d1...|           6436|           celbridge|  kildare|696859.071092|733151.800924|  5197523.50894165|17532.6512646408|
|      18|0617f0f8-8092-498...|           6463|            milltown|  kildare|676688.387599|717461.781911|  391170.980377197|10068.4348395946|
|      19|0654abe6-feb1-48d...|          28137|           tullaghan|  leitrim|578763.874089|858025.929169|  532039.189849854|5678.25057791285|
|      20|06d3a035-52f2-4f5...|          23711|              golden|tipperary|601225.111318|638754.077593|  312793.691558838|8076.89593144425|
+--------+--------------------+---------------+--------------------+---------+-------------+-------------+------------------+----------------+
only showing top 20 rows

In [ ]:
urban_area.filter(urban_area["URBAN_AREA_NAME"] == "Dingle").show()

+--------+---------------+---------------+---------------+------+----------+----------+-----------+-------------+
|OBJECTID|URBAN_AREA_GUID|URBAN_AREA_CODE|urban_area_name|county|Centroid_x|Centroid_y|Shape__Area|Shape__Length|
+--------+---------------+---------------+---------------+------+----------+----------+-----------+-------------+
+--------+---------------+---------------+---------------+------+----------+----------+-----------+-------------+

In [ ]:
# all counties have english names now
# create urban column in the dataset
from pyspark.sql.functions import lit

urban_area = urban_area.withColumn("urban", lit("urban"))
urban_area.show()

+--------+--------------------+---------------+--------------------+---------+-------------+-------------+------------------+----------------+-----+
|OBJECTID|     URBAN_AREA_GUID|URBAN_AREA_CODE|     urban_area_name|   county|   Centroid_x|   Centroid_y|       Shape__Area|   Shape__Length|urban|
+--------+--------------------+---------------+--------------------+---------+-------------+-------------+------------------+----------------+-----+
|       1|0138fb4f-2ab8-403...|          27295|              bearna|   galway|522593.204561|723181.979819|  3989630.23831177|18629.6809484117|urban|
|       2|0139a442-0f36-46d...|          10019|               ardee|    louth|696152.155347|790695.313556|  4747904.28479004|10477.5822516943|urban|
|       3|020a2786-0521-445...|          28125|         ballinamore|  leitrim| 613071.60711|811532.546151|  1205382.26107788|11491.7124087075|urban|
|       4|0261d090-30b7-406...|          11408|             ratoath|    meath|701909.103785|751650.842556|  3067987.87744141|11723.4625093269|urban|
|       5|0265ada6-7078-45d...|          16544|o'briensbridge-mo...|    clare|566174.956058|666640.253476|  556121.649749756| 7603.9918892899|urban|
|       6|026936ae-3899-4ad...|          18775|          inishannon|     cork|554631.858491|557441.930004|  602250.983795166|10848.2938695375|urban|
|       7|026f406e-4e23-42d...|          32058|          swanlinbar|    cavan|619422.367331|826996.868003|   383567.63482666| 4652.5678222868|urban|
|       8|02adfd39-9919-4a0...|           7658|         castlecomer| kilkenny| 653107.96087| 672358.61622|  1097054.96380615|8434.48271624511|urban|
|       9|03985ab2-1f44-46b...|           7666|         ballyragget| kilkenny|644927.437853|670925.116363|  747545.341552734|7729.14767314141|urban|
|      10|03a8151e-41ac-466...|          33068|          bridge end|  donegal|639591.395681|921495.971463|  307704.430969238|4254.90175467995|urban|
|      11|03e074bb-4e82-4d9...|          10004|        termonfeckin|    louth|714101.630828|780372.045072|   879422.38458252|9316.23090963665|urban|
|      12|04070383-7373-421...|          13200|             athlone|westmeath|604311.828471|742043.182788|1.73022130804749E7|37714.2780123511|urban|
|      13|04456694-103d-4b7...|          18769|       ballinspittle|     cork|558854.111316|545913.921939|  299071.854980469|8368.85120315797|urban|
|      14|04579a70-c0c2-4a3...|           8166|                 emo|    laois|652546.156784|705236.211972|  319186.033813477|8397.78744214507|urban|
|      15|04928248-19d5-423...|          18773|          crossbarry|     cork|555556.618322|561305.077409|  287372.367431641|5133.54120069429|urban|
|      16|0598e968-5b4b-44b...|          18742|              fermoy|     cork|580811.241715|598586.702744|   3412116.3605957|17035.2859316282|urban|
|      17|05a4a02c-0ae3-4d1...|           6436|           celbridge|  kildare|696859.071092|733151.800924|  5197523.50894165|17532.6512646408|urban|
|      18|0617f0f8-8092-498...|           6463|            milltown|  kildare|676688.387599|717461.781911|  391170.980377197|10068.4348395946|urban|
|      19|0654abe6-feb1-48d...|          28137|           tullaghan|  leitrim|578763.874089|858025.929169|  532039.189849854|5678.25057791285|urban|
|      20|06d3a035-52f2-4f5...|          23711|              golden|tipperary|601225.111318|638754.077593|  312793.691558838|8076.89593144425|urban|
+--------+--------------------+---------------+--------------------+---------+-------------+-------------+------------------+----------------+-----+
only showing top 20 rows

In [ ]:
#using key county and urban_area_name give mathcing rows with english_na(town_name) and county a row that staest urban and if not matching say rural

In [ ]:
housing_clean.count()

583586

In [ ]:
from pyspark.sql.functions import *
urban_area = urban_area.withColumnRenamed("URBAN_AREA_NAME", "town")

housing_clean_new = housing_clean.join(
    urban_area,
    on=["town", "County"],
    how="full"
)

In [ ]:
housing_clean_new.filter(housing_clean_new["town"] == "dingle").show()

+------+-------+-------------------------+--------------------+---------------------+-------------+-----------------------+-------------------------+---------+----------+--------+---------------+---------------+----------+----------+-----------+-------------+-----+
|  town| County|Date of Sale (dd/mm/yyyy)|             Address|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description|  Price_2|Irish_Name|OBJECTID|URBAN_AREA_GUID|URBAN_AREA_CODE|Centroid_x|Centroid_y|Shape__Area|Shape__Length|urban|
+------+-------+-------------------------+--------------------+---------------------+-------------+-----------------------+-------------------------+---------+----------+--------+---------------+---------------+----------+----------+-----------+-------------+-----+
|dingle|kildare|               08/11/2023|    Spa Road, Dingle|                  Yes|          Yes|   New Dwelling hous...|                     NULL|3019315.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|leitrim|               20/11/2013| John Street, Dingle|                   No|           No|   Second-Hand Dwell...|                     NULL|  72000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  clare|               19/12/2023|THE COLONY, DINGL...|                   No|           No|   Second-Hand Dwell...|                     NULL| 147500.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               22/01/2010|4 Killelane, Ding...|                   No|           No|   Second-Hand Dwell...|                     NULL| 255000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               27/01/2010|   Coum Gath, Dingle|                   No|           No|   Second-Hand Dwell...|                     NULL| 210000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               11/02/2010|   Gortanora, Dingle|                   No|           No|   Second-Hand Dwell...|                     NULL|273127.75|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               02/03/2010|  Doonsheane, Dingle|                   No|           No|   Second-Hand Dwell...|                     NULL|  25000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               22/04/2010|2 An Maimin, Ball...|                   No|           No|   Second-Hand Dwell...|                     NULL| 315000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               26/05/2010|   Cullenagh, Dingle|                   No|           No|   Second-Hand Dwell...|                     NULL|  50000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               02/07/2010|Ballintaggart, Di...|                   No|           No|   Second-Hand Dwell...|                     NULL| 205000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               02/07/2010|  Cluaismore, Dingle|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               27/07/2010|Ballinaboula, Dingle|                   No|           No|   Second-Hand Dwell...|                     NULL| 125000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               30/07/2010|32 Cnoc an Carin,...|                   No|          Yes|   New Dwelling hous...|     greater than 125 ...| 235000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               23/08/2010| Ballybowler, Dingle|                   No|           No|   Second-Hand Dwell...|                     NULL| 180000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               01/09/2010|54 Cois Chnoic, M...|                  Yes|          Yes|   New Dwelling hous...|     greater than 125 ...| 190000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               15/11/2010|Ballinavounigh, D...|                   No|           No|   Second-Hand Dwell...|                     NULL| 205000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               23/11/2010|4 An Doirin, Gree...|                   No|           No|   Second-Hand Dwell...|                     NULL| 162500.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               30/11/2010|8 Blasket House, ...|                   No|           No|   Second-Hand Dwell...|                     NULL|  60000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               02/12/2010|  Glin North, Dingle|                   No|           No|   Second-Hand Dwell...|                     NULL| 240000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
|dingle|  kerry|               09/12/2010|14 Ard Na Mara, D...|                   No|           No|   Second-Hand Dwell...|                     NULL| 245000.0|      NULL|    NULL|           NULL|           NULL|      NULL|      NULL|       NULL|         NULL| NULL|
+------+-------+-------------------------+--------------------+---------------------+-------------+-----------------------+-------------------------+---------+----------+--------+---------------+---------------+----------+----------+-----------+-------------+-----+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import when, col

df = housing_clean_new.withColumn(
    "urban_rural",
    when(col("URBAN_AREA_GUID").isNotNull(), "urban")
    .otherwise("rural")
)

In [ ]:
df.groupBy("urban_rural").count().show()

+-----------+------+
|urban_rural| count|
+-----------+------+
|      rural|244819|
|      urban|338964|
+-----------+------+

In [ ]:
df = df.dropDuplicates()

In [ ]:
df.count()

582927

In [ ]:
df.show()

+---------+-------+-------------------------+--------------------+---------------------+-------------+-----------------------+-------------------------+---------+----------+--------+--------------------+---------------+-------------+-------------+----------------+---------------+-----+-----------+
|     town| County|Date of Sale (dd/mm/yyyy)|             Address|Not Full Market Price|VAT Exclusive|Description of Property|Property Size Description|  Price_2|Irish_Name|OBJECTID|     URBAN_AREA_GUID|URBAN_AREA_CODE|   Centroid_x|   Centroid_y|     Shape__Area|  Shape__Length|urban|urban_rural|
+---------+-------+-------------------------+--------------------+---------------------+-------------+-----------------------+-------------------------+---------+----------+--------+--------------------+---------------+-------------+-------------+----------------+---------------+-----+-----------+
|    balla|   mayo|               08/06/2016|48 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  74890.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               04/07/2016|21 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 61232.86|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               09/02/2018|41 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 62555.06|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               19/03/2013|No. 42, College W...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  69500.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               29/11/2017|31 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 63552.86|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               26/09/2013|52 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 67552.86|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               27/07/2015|33 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  80000.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               30/01/2015|       Prizon, Balla|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 115000.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               21/11/2017|30, COLLEGE WOODS...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  61232.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               27/07/2012|11 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 170000.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               10/03/2017|19 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  69500.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               31/07/2018|47 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  71000.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               10/05/2018|46 COLLEGE WOODS,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 62555.07|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               03/08/2012|15 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 100000.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               27/02/2013|40 College Woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  69000.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               12/11/2013|16 College Wood, ...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  74000.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|    balla|   mayo|               04/05/2018|32 college woods,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  74890.0|     balla|     151|353b7842-0072-42f...|          29320|525390.718904|784585.917811|698765.857299805|9444.4583464067|urban|      urban|
|   drumod|leitrim|               22/11/2012| 10 Fariways, Dromad|                   No|          Yes|   New Dwelling hous...|     greater than or e...|  85000.0|    dromad|     699|cf9b2b2b-6be3-433...|          28127|605360.092205|789858.558158|699411.352111816|6961.1113544156|urban|      urban|
|adamstown| dublin|               04/03/2014|42 Strattan Walk,...|                   No|          Yes|   New Dwelling hous...|     greater than or e...| 114537.0|      NULL|    NULL|                NULL|           NULL|         NULL|         NULL|            NULL|           NULL| NULL|      rural|
|adamstown| dublin|               23/04/2014|122 Adamstown Ave...|                   No|          Yes|   New Dwelling hous...|     greater than or e...|176211.45|      NULL|    NULL|                NULL|           NULL|         NULL|         NULL|            NULL|           NULL| NULL|      rural|
+---------+-------+-------------------------+--------------------+---------------------+-------------+-----------------------+-------------------------+---------+----------+--------+--------------------+---------------+-------------+-------------+----------------+---------------+-----+-----------+
only showing top 20 rows

In [ ]:
#final columns to keep
final_df = df.select('Date of Sale (dd/mm/yyyy)','Address','Price_2','town','County','urban_rural','Description of Property' )

In [ ]:
final_df.show()

+-------------------------+--------------------+---------+---------+-------+-----------+-----------------------+
|Date of Sale (dd/mm/yyyy)|             Address|  Price_2|     town| County|urban_rural|Description of Property|
+-------------------------+--------------------+---------+---------+-------+-----------+-----------------------+
|               08/06/2016|48 College Woods,...|  74890.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               04/07/2016|21 College Woods,...| 61232.86|    balla|   mayo|      urban|   New Dwelling hous...|
|               09/02/2018|41 College Woods,...| 62555.06|    balla|   mayo|      urban|   New Dwelling hous...|
|               19/03/2013|No. 42, College W...|  69500.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               29/11/2017|31 College Woods,...| 63552.86|    balla|   mayo|      urban|   New Dwelling hous...|
|               26/09/2013|52 College Woods,...| 67552.86|    balla|   mayo|      urban|   New Dwelling hous...|
|               27/07/2015|33 College Woods,...|  80000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               30/01/2015|       Prizon, Balla| 115000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               21/11/2017|30, COLLEGE WOODS...|  61232.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               27/07/2012|11 College Woods,...| 170000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               10/03/2017|19 College Woods,...|  69500.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               31/07/2018|47 College Woods,...|  71000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               10/05/2018|46 COLLEGE WOODS,...| 62555.07|    balla|   mayo|      urban|   New Dwelling hous...|
|               03/08/2012|15 College Woods,...| 100000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               27/02/2013|40 College Woods,...|  69000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               12/11/2013|16 College Wood, ...|  74000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               04/05/2018|32 college woods,...|  74890.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               22/11/2012| 10 Fariways, Dromad|  85000.0|   drumod|leitrim|      urban|   New Dwelling hous...|
|               04/03/2014|42 Strattan Walk,...| 114537.0|adamstown| dublin|      rural|   New Dwelling hous...|
|               23/04/2014|122 Adamstown Ave...|176211.45|adamstown| dublin|      rural|   New Dwelling hous...|
+-------------------------+--------------------+---------+---------+-------+-----------+-----------------------+
only showing top 20 rows

In [ ]:
# convert urban_rural value for every row with county = dublin to urban

from pyspark.sql.functions import when, col, lit

final_df = final_df.withColumn(
    "urban_rural",
    when(col("County") == "dublin", lit("urban"))
    .otherwise(col("urban_rural"))
)

In [ ]:
final_df.show()

+-------------------------+--------------------+---------+---------+-------+-----------+-----------------------+
|Date of Sale (dd/mm/yyyy)|             Address|  Price_2|     town| County|urban_rural|Description of Property|
+-------------------------+--------------------+---------+---------+-------+-----------+-----------------------+
|               08/06/2016|48 College Woods,...|  74890.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               04/07/2016|21 College Woods,...| 61232.86|    balla|   mayo|      urban|   New Dwelling hous...|
|               09/02/2018|41 College Woods,...| 62555.06|    balla|   mayo|      urban|   New Dwelling hous...|
|               19/03/2013|No. 42, College W...|  69500.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               29/11/2017|31 College Woods,...| 63552.86|    balla|   mayo|      urban|   New Dwelling hous...|
|               26/09/2013|52 College Woods,...| 67552.86|    balla|   mayo|      urban|   New Dwelling hous...|
|               27/07/2015|33 College Woods,...|  80000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               30/01/2015|       Prizon, Balla| 115000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               21/11/2017|30, COLLEGE WOODS...|  61232.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               27/07/2012|11 College Woods,...| 170000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               10/03/2017|19 College Woods,...|  69500.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               31/07/2018|47 College Woods,...|  71000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               10/05/2018|46 COLLEGE WOODS,...| 62555.07|    balla|   mayo|      urban|   New Dwelling hous...|
|               03/08/2012|15 College Woods,...| 100000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               27/02/2013|40 College Woods,...|  69000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               12/11/2013|16 College Wood, ...|  74000.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               04/05/2018|32 college woods,...|  74890.0|    balla|   mayo|      urban|   New Dwelling hous...|
|               22/11/2012| 10 Fariways, Dromad|  85000.0|   drumod|leitrim|      urban|   New Dwelling hous...|
|               04/03/2014|42 Strattan Walk,...| 114537.0|adamstown| dublin|      urban|   New Dwelling hous...|
|               23/04/2014|122 Adamstown Ave...|176211.45|adamstown| dublin|      urban|   New Dwelling hous...|
+-------------------------+--------------------+---------+---------+-------+-----------+-----------------------+
only showing top 20 rows

In [ ]:
final_df.groupBy("urban_rural").count().show()

+-----------+------+
|urban_rural| count|
+-----------+------+
|      rural|117165|
|      urban|465762|
+-----------+------+

In [ ]:

pdf = final_df.toPandas()
pdf.to_csv("final_df.csv", index=False)